.p-Home.Flex1 {
display: flex;
flex-direction: row;
row-gap: ;
justify-content: flex-start;
margin-left: 0px;
padding-left: 0px;
flex-wrap: nowrap;
align-content: stretch;
align-items: stretch;
}
.p-Home.Div_navbar {
align-self: center;
margin-left: 0px;
padding-left: 10px;
margin-top: 10px;
padding-top: 20px;
width: ;
text-align: left;
word-wrap: normal;
font-size: 20px;
}
.p-Home.Flex10 {
display: flex;
width: 1535px;
justify-content: center;
align-items: stretch;
}
.p-Home.Flex11 {
display: flex;
align-items: stretch;
width: 500px;
height: 500px;
margin-top: 40px;
margin-left: 1035px;
background-color: #FF7426;
justify-content: flex-end;
flex-direction: row;
}
.p-Home.Image2 {
padding-left: 20px;
margin-left: 100px;
margin-top: 20px;
padding-top: 10px;
}
.p-Home.Button3 {
color: #171515;
background-color: #ffffff;
padding-top: 9px;
padding-left: 15px;
padding-bottom: 8px;
padding-right: 15px;
font-size: 16px;
border-radius: 40px;
outline: none;
font-weight: 400;
text-align: center;
border-width: 1px;
border-style: solid;
border-color: #a2a4a5;
cursor: pointer;
user-select: none;
width: 145px;
height: 42px;
align-self: flex-end;
margin-top: 20px;
margin-left: 400px;
}
.p-Home.Button4 {
color: #fff;
background-color: #FF7426;
padding-top: 9px;
padding-left: 15px;
padding-bottom: 8px;
padding-right: 15px;
font-size: 16px;
border-radius: 40px;
outline: none;
font-weight: 400;
text-align: center;
border-width: 1px;
border-style: solid;
border-color: #FF7426;
cursor: pointer;
user-select: none;
width: 135px;
height: 42px;
align-self: flex-end;
margin-top: 20px;
margin-left: 20px;
}
.p-Home.Link1 {
padding-right: 20px;
}
.p-Home.Link2 {
padding-right: 20px;
}
.p-Home.Link3 {
padding-right: 20px;
}
.p-Home.Link4 {
box-sizing: content-box;
padding-left: 20px;
padding-right: 20px;
}
.p-Home.Link5 {
padding-right: 20px;
}
.p-Home.TextBox20 {
margin-left: 200px;
padding-left: 50px;
width: 700px;
padding-right: 50px;
height: 150px;
margin-top: 150px;
font-size: 60px;
overflow: visible;
box-sizing: content-box;
text-align: left;
word-wrap: normal;
position: absolute;
right: 650px;
}
.p-Home.TextBox23 {
width: 700px;
height: 150px;
margin-left: 200px;
padding-left: 50px;
margin-top: 220px;
padding-right: 50px;
font-size: 60px;
position: absolute;
right: 650px;
color: #FF7426;
}
.p-Home.TextBox24 {
width: 700px;
height: 100px;
margin-top: 320px;
position: absolute;
font-size: 20.5px;
right: 700px;
}
.p-Home.Button5 {
color: #fff;
background-color: #FF7426;
padding-top: 8px;
padding-left: 15px;
padding-bottom: 8px;
padding-right: 15px;
font-size: 16px;
border-radius: 30px;
outline: none;
font-weight: 400;
text-align: center;
border-width: 1px;
border-style: solid;
border-color: #FF7426;
cursor: pointer;
user-select: none;
width: 135px;
height: 42px;
margin-top: 420px;
margin-left: 300px;
box-sizing: border-box;
overflow: visible;
position: absolute;
margin-right: 1450px;
}
.p-Home.Button6 {
color: #000000;
background-color: #ffffff;
padding-top: 8px;
padding-left: 15px;
padding-bottom: 8px;
padding-right: 15px;
font-size: 16px;
border-radius: 30px;
outline: none;
font-weight: 400;
text-align: center;
border-width: 1px;
border-style: solid;
border-color: #a2a4a5;
cursor: pointer;
user-select: none;
width: 145px;
height: 42px;
margin-top: 420px;
position: absolute;
margin-right: 1100px;
margin-left: 300px;
}
.p-Home.Image9 {
margin-right: 250px;
width: 400px;
height: 400px;
margin-top: 50px;
padding-right: ;
padding-left: ;
border-radius: 10px;
}
